<%= form_with(model: @article, local: true) do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% if @article.errors.any? %>
      <% @article.errors.messages[:title].each %>
    <%end%>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% if @article.errors.any? %>
      <% @article.errors.messages[:title].each %>
    <%end%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>